h1 {
  text-align: center;
}

.modalbtn{
  float: right;
  background-color:black;
  color:white;
  padding: 15px;
  font-size: 20px;
}

.modalbtnn{
  background-color:black;
  color:white;
  padding: 15px;
  font-size: 20px;
}

.textArea {
  margin-top: 80px;
  margin-left: 50px;
  margin-right: 50px;
}

textarea {
  height: 300px;
  max-height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  background-color: white;
}
