<ion-content>
  <div class="head"></div>
  <nav class="navbar navbar-expand-sm sticky-top">
    <img src="assets/spotAhome3.png" width=150 id="logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="assets/user2.png">
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" [routerLink]="['/login']">Login</button></li>
        <li><button class="dropdown-item" [routerLink]="['/registration']">Register</button></li>
        <li><button class="dropdown-item" [routerLink]="['/admin']">Admin</button></li>
        <li><button class="dropdown-item" (click)="authService.SignOut()">Logout</button></li>
        <li><button class="dropdown-item" [routerLink]="['/test']">Test</button></li>
        <li class="owner">
          <button class="dropdown-item" [routerLink]="['/owner-panel']">owner-panel</button>
        </li>
      </ul>
    </div>
  </nav>

  <div class="backgroud" style="max-height: 400px; overflow-y: hidden; margin-bottom: 15px;">
    <img src="assets/bg2.jpg" style="width: 100%; height: 100%; object-fit: cover;">
  </div>

  <div class="top">

    <div class="price">
      <ion-grid>
        <ion-row>
          <ion-col size="4" *ngFor="let seat of seats" (click)="selectSeat(seat)" [class.occupant]="seat.Occupant"
            [class.occupied]="seat.Occupied">
            <ion-button id="seat-number">{{ seat?.BedSpace }}</ion-button>
            <ion-button class="seat-status">{{ seat?.Occupied ? 'Occupied' : 'Available' }}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div id="pr">
        <div id="p">
          ₱{{data?.Price}}
        </div>
        <p>Monthly</p>
        <button id="priceBtn" (click)="reserveBedspace()">Reserve</button>
      </div>
    </div>

    <div class="body">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button *ngFor="let pic of data?.Images; let i = index" type="button"
            data-bs-target="#carouselExampleControls" [attr.data-bs-slide-to]="i" aria-current="true" aria-label="..."
            [ngClass]="{'active': i === 0}">
          </button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" *ngFor="let pic of data?.Images; let i = index"
            [ngClass]="{'active': i === 0}">
            <img src="{{pic}}" class="d-block w-100" alt="..." id="myImg">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

        <div id="myModal" class="modal">

          <!-- The Close Button -->
          <span class="close">&times;</span>

          <!-- Modal Content (The Image) -->
          <img class="modal-content" id="img01">

          <!-- Modal Caption (Image Text) -->
          <div id="caption"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="detail">

    <div class="room">{{data?.RoomType}}</div>
    <div class="rent">Renting by: <a style="font-weight: 600;">{{data?.Rent}}</a></div>

    <div class="details">
      {{data?.Details}}ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
    </div>

    <!---->
    <div class="amenities">
      <div id="amenities-header">Amenities: </div>

      <ion-grid>
        <ion-row>
          <ion-col id="amenities" *ngFor="let ame of data?.Amenities">
            <span *ngIf="ame === 'WiFi'">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19 " fill="currentColor" class="bi bi-wifi"
                viewBox="0 0 16 16">
                <path
                  d="M15.384 6.115a.485.485 0 0 0-.047-.736A12.444 12.444 0 0 0 8 3C5.259 3 2.723 3.882.663 5.379a.485.485 0 0 0-.048.736.518.518 0 0 0 .668.05A11.448 11.448 0 0 1 8 4c2.507 0 4.827.802 6.716 2.164.205.148.49.13.668-.049z" />
                <path
                  d="M13.229 8.271a.482.482 0 0 0-.063-.745A9.455 9.455 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.576 1.336c.206.132.48.108.653-.065zm-2.183 2.183c.226-.226.185-.605-.1-.75A6.473 6.473 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.478 5.478 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.61-.091l.016-.015zM9.06 12.44c.196-.196.198-.52-.04-.66A1.99 1.99 0 0 0 8 11.5a1.99 1.99 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.707-.707z" />
              </svg>
            </span>

            <span *ngIf="ame === 'TV'">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-tv"
                viewBox="0 0 16 16">
                <path
                  d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM13.991 3l.024.001a1.46 1.46 0 0 1 .538.143.757.757 0 0 1 .302.254c.067.1.145.277.145.602v5.991l-.001.024a1.464 1.464 0 0 1-.143.538.758.758 0 0 1-.254.302c-.1.067-.277.145-.602.145H2.009l-.024-.001a1.464 1.464 0 0 1-.538-.143.758.758 0 0 1-.302-.254C1.078 10.502 1 10.325 1 10V4.009l.001-.024a1.46 1.46 0 0 1 .143-.538.758.758 0 0 1 .254-.302C1.498 3.078 1.675 3 2 3h11.991zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z" />
              </svg>
            </span>

            <span *ngIf="ame === 'Kitchen'" class="fa fa-cutlery" style="font-size: 18;"></span>

            <span *ngIf="ame === 'Parking Lot'" class="fa fa-car" style="font-size: 18;"></span>

            <span *ngIf="ame === 'Air Conditioner'" class="fa fa-snowflake-o" style="font-size: 18;"></span>

            <span *ngIf="ame === 'Work Space'">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor"
                class="bi bi-person-workspace" viewBox="0 0 16 16">
                <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                <path
                  d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z" />
              </svg>
            </span>

            <span *ngIf="ame === 'Washer'">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor"
                class="bi bi-droplet-fill" viewBox="0 0 16 16">
                <path
                  d="M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6ZM6.646 4.646l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448c.82-1.641 1.717-2.753 2.093-3.13Z" />
              </svg>
            </span>
            {{ame}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!---->

    <div class="contact">

      <div>
        <img [src]="owner?.Image" style="width: 20px">
      </div>

      <div>{{owner?.FName}} {{owner?.LName}}</div>

      <div id="contact" type="button" [routerLink]="['/','chatroom',owner?.uid]">
        Contact Owner
      </div>
    </div>

  </div>

  <div class="rating-review">
    <form [formGroup]="reviewForm">


      <ion-icon *ngFor="let i of [1, 2, 3, 4, 5]" [name]="i <= star ? 'star' : 'star-outline'"
        (click)="Rate(i)"></ion-icon>

      <div class="form-group">
        <label for="exampleFormControlTextarea1"></label>
        <textarea class="form-control" id="review" rows="3" placeholder="Review" formControlName="Review"></textarea>
      </div>

      <div>
        <input type="file" (change)="onFileSelected($event)">
      </div>

      <button class="reviewBTN" (click)="addReview()">Submit</button>

    </form>
  </div>
</ion-content>