.head {
  background-color: rgb(100, 66, 34, 0.8);
  height: 90px;
  max-height: 90px;
}

.navbar {
  background-color: rgb(0, 0, 0, 0.3);
  height: 90px;
  max-height: 90px;
  margin-top: -90px;
  padding: 0px;
  position: sticky;
}

.navbar #logo {
  background-color: rgb(255, 255, 255, 0.2);
  margin-left: 10px;
  margin-right: 10px;
}

.navbar .nav-link {
  color: white;
  font-size: 20px;
  margin-left: 30px;
}

.navbar .dropdown {
  position: relative;
  right: 50px;
  bottom: 10px;
  float: right;
}

.navbar .dropdown #dropdownMenu2 {
  width: 100px;
  height: 45px;
  background-color: #be9874;
}

.navbar .dropdown .dropdown-item {
  font-size: 10px;
}

.navbar .dropdown img {
  height: 30px;
  border-radius: 50%;
}

.backgroud {
  max-height: 400px;
  overflow-y: hidden;
}

#carouselExampleControls {
  margin-left: 60px;
  width: 60%;
}

.carousel-inner {
  max-height: 370px;
}

#carouselExampleControls #myImg {
  border-radius: 4px;
  height: auto;
}

.price {
  float: right;
  min-width: 25%;
  margin-right: 95px;
  border: 1px inset rgb(0, 0, 0);
  max-width: 370px;
  max-height: 500px;
  height: 500px;
  box-shadow: 3px 4px #adadad;
  border-radius: 10px;
}

.price ion-col {
  width: 40px;
}

.price #pr {
  text-align: center;
}

.price #pr ion-select {
  margin-left: 15px;
  margin-top: 15px;
  width: 100px;
  min-width: 100px;
  border: 1px black solid;
}

.price #pr #p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.price #pr #priceBtn {
  background-color: rgb(194, 123, 17);
  padding-top: 15px;
  padding-bottom: 15px;
  width: 250px;
}

.detail {
  margin-left: 60px;
}

.detail .room {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 35px;
  font-weight: 700;
}

.detail .rent {
  margin-left: 10px;
  font-size: 25px;
  font-weight: 500;
}

.detail .details {
  margin-left: 10px;
  width: 60%;
  margin-top: 25px;
}

.detail .amenities {
  margin-left: 10px;
  width: 60%;
  max-width: 60%;
  margin-top: 15px;
}

.detail .amenities #amenities-header {
  font-size: 20px;
  font-weight: 600;
}

.detail .amenities #amenities {
  max-width: 180px;
  min-width: 180px;
  text-align: center;
  padding: 10px;
  border: rgb(194, 123, 17) solid 1px;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.detail .amenities #amenities span {
  color: rgb(100, 66, 34);
}

.detail .contact {
  margin-top: 20px;
}

.detail .contact #contact {
  max-width: 130px;
  padding: 10px;
  color: rgb(100, 66, 34);
  border: rgb(194, 123, 17) solid 1px;
  border-radius: 20px;
}

.detail .contact #contact:hover {
  background-color: black;
  color: white;
  border: black solid 1px;
}

ion-icon {
  font-size: 20px;
  color: var(--ion-color-warning);
}

ion-icon:not(:last-child) {
  margin-right: 4px;
}

:host(.read-only) ion-icon {
  cursor: default;
}

.rating-review {
  margin-top: 10px;
  margin-left: 60px;
  width: 60%;
}

.rating-review #review {
  margin-bottom: 10px;
}

///////////////////////

#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.9;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.occupied {
  opacity: 0.5;
}

.occupant {
  pointer-events: none;
}

.seat-status {
  display: none;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
