<ion-content class="body">
<div></div>
<div class="LBody">
  <h2>Login</h2>

<ion-item lines="full">
  <ion-label position="floating">Email</ion-label>
  <ion-input type="text" #email required></ion-input>
</ion-item>
<ion-item lines="full">
  <ion-label position="floating">Password</ion-label>
  <ion-input type="password" #password required></ion-input>
</ion-item>

<ion-row>
  <ion-col>
    <ion-button type="submit" (click)="logInTenant(email, password)" expand="block">
      Login as Tenant</ion-button>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-button type="submit" (click)="logInOwner(email, password)" expand="block">
      Login as Owner</ion-button>
  </ion-col>
</ion-row>
</div>

</ion-content>
