.modalbtn{
  float: right;
  background-color:black;
  color:white;
  padding: 15px;
  font-size: 20px;
}

.modalbtnn{
  background-color:black;
  color:white;
  padding: 15px;
  font-size: 20px;
}

.image{
  float: right;
  width: 350px;
  height: 350px;
  margin-top: 50px;
  margin-right: 85px;
  margin-bottom: 50px;
}

h2{
  margin-top: 70px;
}

.text{
  margin-top: 35px;
  margin-left: 50px;
}
