
<ion-content [fullscreen]="true" class="ion-padding">

  <form [formGroup]="studentForm" (ngSubmit)="CreateRecord()">

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input formControlName="Price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input formControlName="Address"></ion-input>
    </ion-item>

    <ion-list>
      <ion-radio-group value="strawberries" formControlName="Rent">
        <ion-item>
          <ion-label>Bedspace</ion-label>
          <ion-radio slot="end" value="Bedspace"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Room</ion-label>
          <ion-radio slot="end" value="Room"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <label for="file">File: </label>
    <input type="file" (change)="upload($event)" accept=".png,.jpeg.,.jpg"/>

    <ion-item>
      <ion-button (click)="CreateRecord()" [disabled]="studentForm.invalid">
        <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
        &nbsp;Create Record
      </ion-button>
    </ion-item>

  </form>


  <ion-card *ngFor="let item of studentList" color="primary">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title>Name: {{item.Name}}</ion-card-title>
        <ion-card-subtitle>Price: {{item.Price}}</ion-card-subtitle>
        <ion-card-subtitle>Address: {{item.Address}}</ion-card-subtitle>
        <ion-card-subtitle>Room: {{item.Rent}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

        <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>

        </ion-button>
        <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>

        </ion-button>
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Edit
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="medium" size="small" (click)="item.isEdit = false">
                  Cancel
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="success" size="small" (click)="UpdateRecord(item)">
                  Update
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Name</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Price</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditPrice"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Address</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditAddress"></ion-input>
        </ion-item>
        <ion-list>
          <ion-radio-group [(ngModel)]="item.EditRent">
            <ion-item>
              <ion-label>Bedspace</ion-label>
              <ion-radio slot="end" value="Bedspace"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Room</ion-label>
              <ion-radio slot="end" value="Room"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-card-content>
    </ng-template>
  </ion-card>

</ion-content>
