
.list{
margin-left: 20px;
margin-right: 20px;
border: solid black 2px;
}

.list h2{
  margin-left: 10px;
  font-weight: bold
}

.body .nav{
  border-radius: 15px 15px 0px 0px;
  width: 15%;
  border: 2px solid rgb(0, 0, 0);
  margin-top: 20px;
  margin-left: 20px;
}

.body .nav div{
  border-right: 2px solid rgb(0, 0, 0);
  margin-right: 10px;
  margin-left: 5px;
  padding-right: 10px;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
}

.body .nav div span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.body .nav div span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.body .nav div:hover span {
  padding-right: 25px;
}

.body .nav div:hover span:after {
  opacity: 1;
  right: 0;
}
