
h1{
  text-align: center;
}

.modalbtn{
  float: right;
  background-color:black;
  color:white;
  padding: 15px;
  font-size: 20px;
}

.modalbtnn{
  background-color:black;
  color:white;
  padding: 15px;
  font-size: 20px;
}


.btn-group{
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

label{
  max-width: 250px;
  max-height: 250px;
  min-width: 250px;
  min-height: 250px;
  background-color: white;
  color: black;
  font-size: 15px;
  padding: 10px;
  margin-top: 20px;
}

p{
  text-align: center;
  margin-top: 30px;
}

#icon{
  margin-top: 10px;
}

