<ion-content>

  <div class="collumn1">
  <div class="title">
    <div>Hello</div>
  </div>

  <div class="rent">
    <div>Hello</div>
  </div>

  <div class="roomtype">
    <div>Hello</div>
  </div>

  <div class="price">
    <div>1500</div>
  </div>

  <div class="address">
    <div>Hello, Hello, Hello, Hello, 123</div>
  </div>
  </div>

  <div class="collumn2">
  <div class="image">
    <img src="assets/1.jpg" width="150px">
    <img src="assets/2.jpg" width="150px">
    <img src="assets/3.jpg" width="150px">
  </div>

  <div class="amenities">
    <div>
      <div>Wifi</div>
      <div>Wifi</div>
      <div>Wifi</div>
    </div>
  </div>

  <div class="bed">
    <div>
      <div>B:1 - Status:up</div>
      <div>B:1 - Status:down</div>
      <div>B:1 - Status:up</div>
    </div>
  </div>
  </div>

  <div>
  <div class="detail">
    <div>qwertyuiopasdfghklzxcvbnm1234567890mnbvcxzlkjhgfdsappoiuytrewq0987654321</div>
  </div>
  </div>

  </ion-content>
  <ion-footer>
    <button class="modalbtnn" (click)="back()">
      Back
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
  </button>
    <button class="modalbtn">
      Next
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg>
  </button>
  </ion-footer>
