ion-content{
overflow: auto;
}

h1{
  text-align: center;
}

.modalbtn{
  float: right;
  background-color:black;
  color:white;
  padding: 15px;
  font-size: 20px;
}

.modalbtnn{
  background-color:black;
  color:white;
  padding: 15px;
  font-size: 20px;
}

.form{
  margin: 40px;
}
