h1 {
  text-align: center;
}

.modalbtn{
  float: right;
  background-color:black;
  color:white;
  padding: 15px;
  font-size: 20px;
}

.modalbtnn{
  background-color:black;
  color:rgb(252, 211, 211);
  padding: 15px;
  font-size: 20px;
}

.group{
  margin-top: 80px;
}

.form{
margin-left: 50px;
}

label{
  width: 80%;
  height: 30%;
  background-color: white;
  color: black;
  font-size: 15px;
  padding: 10px;
  margin-top: 20px;
}

p{
  text-align: center;
  margin-top: 30px;
}

