<ion-content>
  <form [formGroup]="tenantForm" (ngSubmit)="addDetails()">
    <ion-item lines="full">
      <ion-label position="floating">First Name</ion-label>
      <ion-input formControlName="FName"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input formControlName="LName"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Age</ion-label>
      <ion-input formControlName="Age"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Address</ion-label>
      <ion-input formControlName="Address"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
      <ion-button type="submit" (click)="addDetails()" expand="block">Done</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
