<ion-content class="auth-form">
  <nav class="navbar navbar-expand-sm sticky-top">
    <img src="assets/spotAhome3.png" width=150 id="logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="assets/user2.png">
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" [routerLink]="['/login']">Login</button></li>
        <li><button class="dropdown-item" [routerLink]="['/registration']">Register</button></li>
        <li><button class="dropdown-item" [routerLink]="['/admin']">Admin</button></li>
        <li><button class="dropdown-item" (click)="authService.SignOut()">Logout</button></li>
        <li><button class="dropdown-item" [routerLink]="['/test']">Test</button></li>
        <li class="owner">
          <button *ngIf="listEmail" class="dropdown-item" [routerLink]="['/owner-panel']">owner-panel</button>
        </li>
      </ul>
    </div>
  </nav>

  <!--<div class="header">
    <img src="assets/spotAhome.png" width=150 id="logo">

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="assets/user2.png">
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" [routerLink]="['/login']">Login</button></li>
        <li><button class="dropdown-item" [routerLink]="['/registration']">Register</button></li>
        <li><button class="dropdown-item" [routerLink]="['/admin']">Admin</button></li>
        <li><button class="dropdown-item" (click)="authService.SignOut()">Logout</button></li>
        <li><button class="dropdown-item" [routerLink]="['/test']">Test</button></li>
        <li class="owner">
          <button class="dropdown-item" [routerLink]="['/owner-panel']">owner-panel</button>
        </li>
      </ul>
    </div>
  </div>-->

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  <div class="filters">
    <ion-item id="filter">
      <ion-select interface="popover" placeholder="Select Place" [(ngModel)]="barangay" (ionChange)="getAd(barangay)">
        <ion-select-option [value]="null"></ion-select-option>
        <ion-select-option *ngFor="let ad of filterPlace" [value]="ad">{{ad}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item id="filter">
      <ion-select interface="popover" placeholder="Select Rent" [(ngModel)]="rent" (ionChange)="getRe(rent)">
        <ion-select-option [value]="null"></ion-select-option>
        <ion-select-option *ngFor="let re of filterRent" [value]="re">{{re}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item id="filter">
      <p style="margin-right: 5px; margin-top: 7px;">₱{{price.lower}} - ₱{{price.upper}}</p>
      <ion-range [dualKnobs]="true" [min]="0" [max]="priceMax" [(ngModel)]="price"
        (ionChange)="filterPrice()"></ion-range>
    </ion-item>
  </div>

  <div *ngFor="let item of list | async" class="room">
    <div>
      <div class="over">
        <img src="{{item.Images[1]}}" class="img">
      </div>

      <div class="price">
        <p id="p2" value="pr">₱{{item.Price}} /
          <a type="button" [routerLink]="['/','room',item.id]" style="color: #be9874;">
            <p style="color: #be9874;">Reserve Now</p>
          </a>
        </p>
      </div>

      <div class="details">
        <p id="p1" value="na">{{item.Title}}</p>
        <p id="p3" value="ad"><a style="font-weight: 700;">Address:</a>
          {{item.Street}}, {{item.Barangay}}, {{item.City}}, {{item.Province}}</p>
        <p id="p4" value="re"><a style="font-weight: 700;">Renting: </a>{{item.Rent}}</p>
      </div>
    </div>
    <div style="text-align: center; color: white; opacity: 0;">/</div>
  </div>
</ion-content>