
.image-upload-box {
  width: 300px;
  max-width: auto;
  min-height: 300px;
  max-height: auto;
  border: 2px dashed #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.plus-button {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: #666;
  cursor: pointer;
  z-index: 1;
}

.image-preview {
  border: 2px dashed #ddd;
  top: 0;
  left: 0;
  width: 300px;
  height: auto;
  object-fit: cover;
}
